body {
    padding: 0;
    margin: 0;
}
.wrapper {


}
.navbar {
    text-align: center;

}
.nav {
    display: inline-block;
    margin: 0 36px;
    padding: 30px 0;

}
.nav-link  {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    text-decoration: none;
}
.nav-link:hover {
    border-bottom: 1px solid red;
}
.banner {
    padding: 0 auto;
    width: 100%;
}
.main {
    padding: 48px 67px 42px;
    text-align: center;

}
h2 {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;

    color: #373737;
}
.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;
    letter-spacing: 2.4px;

    color: #373737;

}
.button {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 18px 0;
    text-decoration: none;

}
.button:hover {
    opacity: 0.8;
}
.txt {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    padding: 0 30px;
}
